{
    "extends": [
        "airbnb",
        "airbnb/hooks"
    ],
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "rules": {
        "import/no-unresolved": 0,
        "react/prop-types":0,
        "linebreak-style": 0,
        "no-underscore-dangle":0,
        "no-unused-expressions":[2,{
            "allowShortCircuit": true,
            "allowTernary": true
        }],
        "react/jsx-props-no-spreading":0,
        "react/require-default-props":0,
        "react/forbid-prop-types":0,
        "import/no-cycle":0
    },
    "env": {
        "browser": true
    }
}