.container {
  margin: 0 auto;
}

.width-xs{
  max-width: 0;
}

.width-sm{
  max-width: 600px;
}

.width-md{
  max-width: 960px;
}

.width-lg{
  max-width: 1280px;
}

.width-xl{
  max-width: 1920px;
}

.addGutters{
  padding:0 16px;
}