.layoutWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layoutBody {
  flex: 1;
  width: 100%;
}

.gutter {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.fabWrapper {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
}

.chatWrapper {
  position: absolute;
  transform: scale(0);
  left: -250px;
  top: -400px;
  transform-origin: bottom right;
  transition: 0.3s;
}

.openChat {
  transform: scale(1);
}
